html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color:#ff7f50;
}

header {
    display: flex;
    height: 20%;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
  
#photo {
    background-size: cover;
    width: 60%;
    padding-bottom: 60%;
}