html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color:#ff7f50;
    display: grid;
    grid-template: "header" 1fr
                   "content" 3fr;
    overflow: auto;
}

header {
    grid-area: header;
    display: flex;
}

#content {
    grid-area: content;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

nav {
    display: grid;
    flex-basis: 400px;
    min-height: 100px;

    flex-grow: 1;
    flex-shrink: 1;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

nav button {
    background-color: beige;
}

nav button:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 1 / 7;
}

nav button:nth-child(2) {
    grid-column: 7 / 11;
    grid-row: 1 / 6;
}

nav button:nth-child(3) {
    grid-column: 11 / 17;
    grid-row: 1 / 6;
}

nav button:nth-child(4) {
    grid-column: 1 / 7;
    grid-row: 7 / 11;
}

nav button:nth-child(5) {
    grid-column: 7 / 10;
    grid-row: 6 / 11;
}

nav button:nth-child(6) {
    grid-column: 10/ 17;
    grid-row: 6 / 11;
}

nav button:nth-child(7) {
    grid-column: 1 / 4;
    grid-row: 11 / 17;
}

nav button:nth-child(8) {
    grid-column: 4 / 8;
    grid-row: 11 / 13;
}

nav button:nth-child(9) {
    grid-column: 8 / 12;
    grid-row: 11 / 14;
}

nav button:nth-child(10) {
    grid-column: 12 / 17;
    grid-row: 11 / 14;
}

nav button:nth-child(11) {
    grid-column: 4 / 8;
    grid-row: 13 / 17;
}

nav button:nth-child(12) {
    grid-column: 8 / 14;
    grid-row: 14 / 17;
}

nav button:nth-child(13) {
    grid-column: 14 / 17;
    grid-row: 14 / 17;
}

section {
    display: grid;
    flex-basis: 500px;
    min-height: 560px;
    background-color: aqua;

    flex-grow: 1;
    flex-shrink: 1;
}